# MinIO/S3 Configuration
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_USE_SSL=False

# Database Configuration
DUCKDB_PATH=

# Data Generation Settings
NUM_ROWS=8000
START_DATETIME=2022-01-01 10:30
END_DATETIME=2024-12-31 23:59

# Logging Configuration
LOG_LEVEL=INFO
LOG_FILE=logs/generate_fake_data.log